@import "common/scss/utils.scss";

nav {
  a {
    padding: 20px 30px;
    display: block;
    text-align: center;
    &:hover {
      background-color: rgb(228, 238, 255);
    }
    &.active {
      color: $primary-color;
    }
  }
}
