@import "common/scss/utils.scss";

.ui_accordion {
  width: 100%;
  height: auto;
  .accordion_summary {
    height: 50px;
    cursor: pointer;
    @include flex(center, space-between);

    .summary-title {
      @include flex(initial, initial);
    }
  }
}
