@import "common/scss/utils.scss";

.ui_accordion {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: white;
  & > .accordion_summary {
    .icon-arrow {
      transform: rotate(0deg);
      transition: all 200ms ease;
    }
  }
  &.expanded {
    & > .accordion_summary {
      .icon-arrow {
        transform: rotate(-180deg);
      }
    }
  }

  .collapse {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 500ms ease;
    & > .container {
      padding: 3%;
    }

    &.transition-coll-enter {
      max-height: 0;
    }

    &.transition-coll-enter-active {
      max-height: 100vh;
    }

    &.transition-coll-enter-done {
      max-height: 100vh;
    }

    &.transition-coll-exit {
      max-height: 100vh;
    }

    &.transition-coll-exit-active {
      max-height: 0;
    }
    // &.transition-coll-exit-done {
    //   max-height: 0;
    // }
  }

  .accordion_summary {
    height: 50px;
    cursor: pointer;
    @include flex(center, space-between);
    padding: 0 3%;

    .summary-title {
      @include flex(initial, initial);
    }
  }
}
