@import "common/scss/utils.scss";

.ui_button {
  padding: 10px;
  @include flex(center, center);
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 4px;
  color: white;

  &.disabled {
    cursor: not-allowed;
    background-color: $disabledB-color;
    & > div {
      color: $disabledT-color;
    }
  }
}
