@import "common/scss/utils.scss";

.dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  // transition: max-height 500ms ease;

  &.transition-dailog-enter-done {
    & > .content-box {
      & > .content-area {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
      }
      & > .di_background {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.transition-dailog-enter-active {
    & > .content-box {
      & > .content-area {
        opacity: 0;
        transform: scale(0.8) translate(-50%, -50%);
      }
      & > .di_background {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.transition-dailog-exit-active {
    & > .content-box {
      & > .content-area {
        opacity: 0;
        transform: scale(0.8) translate(-50%, -50%);
      }
      & > .di_background {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  & > .container {
    padding: 3%;
  }

  .content-box {
    position: relative;
    @include flex(center, center);
    width: 100%;
    height: 100%;
    .content-area {
      min-width: 300px;
      border-radius: 8px;
      background-color: white;
      max-height: 100%;
      padding: 20px;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 150ms, transform 150ms;
      opacity: 0;
      transform: scale(0);
    }
    .di_background {
      transition: background-color 150ms, transform 150ms;
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
  }
}
