@import "common/scss/utils.scss";

#ui_input {
  border-radius: 8px;
  @include flex(center, space-between);
  height: 50px;
  position: relative;

  &.error {
    & > input {
      border-color: $error-color;
    }
  }

  & > input {
    height: 100%;
    border: 1px solid #eeeeee;
    padding: 0 20px 0 15px;
    box-sizing: border-box;
    border-radius: 4px;
    &:focus {
      border-color: $focus-color;
    }

    &::placeholder {
      font-size: 12px;
      color: $placehold-color;
    }
  }
  .input-lock-icon {
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
  }
  .input-search {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
  }
}
