@import "common/scss/utils.scss";

#ui_switch {
  width: 46px;
  height: 24px;
  .slider {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #cccccc;
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      z-index: 1;
      background-color: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s ease;
      left: 3px;
    }
    &.checked {
      background-color: $primary-color;
      &::before {
        left: 22.5px;
        background-color: white;
      }
    }
  }
}
