@import "common/scss/utils.scss";

#ui-table {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  .table-head {
    @include flex(center, space-between);
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    .th {
      flex: 1;
      padding: 12px;
      font-weight: 600;
      gap: 6px;
      @include ellipsis();
      @include flex(center, initial);
      & > div {
        @include ellipsis();
      }

      &.isOrder {
        cursor: pointer;
      }
      .order {
        transform: rotate(-180deg);
      }
      & > .active {
        color: $primary-color;
      }
    }
  }
  .table-body {
    .table-body-row {
      border-bottom: 1px solid #eeeeee;
      flex: 1;
      text-align: center;
      background-color: white;
      &:last-child {
        border-bottom: 0;
      }
      .table-tr {
        @include flex(center, space-between);
        .table-td {
          flex: 1;
          padding: 12px;
          text-align: center;
          @include ellipsis();

          & > div {
            @include ellipsis();
          }
        }
      }
    }
  }
}

#ui-pagination {
  margin-top: 20px;
  @include flex(center, center);

  & > .row {
    gap: 20px;
    @include flex(center, space-between);
    .left-arrow {
      @include flex(center, initial);
      gap: 10px;
    }
    .center-arrow {
      cursor: pointer;
    }
    .right-arrow {
      @include flex(center, initial);
      gap: 10px;
    }
  }
}
