@import "common/scss/utils.scss";

#ui-table {
  width: 100%;
  border-radius: 8px;

  .table-head {
    @include flex(center, space-between);
    background-color: white;
    border: 1px solid #eeeeee;

    #check-box {
      padding: 0 10px;
    }

    .th {
      flex: 1;
      padding: 12px;
      font-weight: 600;
      gap: 6px;
      font-size: 14px;
      @include ellipsis();
      @include flex(center, initial);
      & > div {
        @include ellipsis();
      }

      &.isOrder {
        cursor: pointer;
      }
      .order {
        transform: rotate(-180deg);
      }
      & > .active {
        color: $primary-color;
      }
    }
  }
  .table-body {
    .table-body-row {
      border-bottom: 1px solid #eeeeee;
      flex: 1;
      text-align: center;
      background-color: white;
      &:last-child {
        border-bottom: 0;
      }
      .table-tr {
        @include flex(center, space-between);
        width: 100%;
        #check-box {
          padding: 0 10px;
        }
        .table-td {
          flex: 1;
          padding: 12px;
          text-align: center;
          @include ellipsis();
          font-size: 14px;

          & > div {
            @include ellipsis();
          }
        }
      }
    }
  }
}

#ui-pagination {
  margin-top: 20px;
  @include flex(center, center);

  & > .row {
    gap: 20px;
    @include flex(center, space-between);
    .ui_button {
      background-color: transparent;
      padding: 0;
      &.disabled {
        opacity: 0.2;
      }
    }
    .left-arrow {
      @include flex(center, initial);
    }
    .center {
      cursor: pointer;
      .paging-comp {
        @include flex(center, center);
        gap: 10px;
        & > div {
          padding: 5px 10px;
        }
        .active {
          font-weight: bold;
        }
      }
    }
    .right-arrow {
      @include flex(center, initial);
      .rotate {
        transform: rotate(-180deg);
      }
    }
  }
}
