* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
a {
  display: block;
  text-decoration: none;
  color: black;
  &:active,
  &:focus {
    outline: none;
  }
}
body {
  color: #191919;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: auto;
  font-size: 16px;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}

@import "./components/ui_button.scss";
@import "./components/ui_input.scss";
@import "./components/ui_loading.scss";
@import "./components/ui_label.scss";
@import "./components/ui_dialog.scss";
@import "./components/ui_checkbox.scss";
