@mixin flex($item, $justify) {
  display: flex;
  align-items: $item;
  justify-content: $justify;
}

@mixin ellipsis() {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$primary-color: #007acc;
$disabledB-color: #dddddd;
$disabledT-color: #a5a5a5;
$placehold-color: #999999;
$focus-color: $primary-color;
$error-color: red;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1) 0ms;
